@import url(https://fonts.googleapis.com/css?family=Passion+One:700);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Passion', sans-serif;
}

body {
    overflow: hidden;
}

section {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}

.container {
    width: 350px;
}

.container img{
	width: 350px;
}

.login {
    margin-top: 20px;
    font-family: 'Play', sans-serif;
    font-weight: 600;
    color: rgb(135, 112, 221);
}